$settingsBackground: #db6343
$panelBackground: #b7dbd0

.settings
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  background-color: $settingsBackground
  .controlls
    width: 30vw
    position: relative
    top: 50%
    transform: translateY(-50%)
    margin: auto
    text-align: center
    background-color: $panelBackground
    h1
    form
      label
      input
      h3
      button
