<div class="settings">
  <div class="header">
    <h1>Settings</h1>
  </div>

  <div class="controlls">
    <form class="controllsForm">

      <div class="inputGrid">
        <label for="intervalLength">Seconds of Work:</label>
        <input type="button" class="decButton" ng-click="mc.dec('interval')" value="-">
        <h3>{{mc.intervalLength}}</h3>
        <input type="button" class="incButton" ng-click="mc.inc('interval')" value="+">

        <label for="restLength">Seconds of Rest:</label>
        <input type="button" class="decButton" ng-click="mc.dec('rest')" value="-">
        <h3>{{mc.restLength}}</h3>
        <input type="button" class="incButton" ng-click="mc.inc('rest')" value="+">

        <label for="reps">Number of Exercises:</label>
        <input type="button" class="decButton" ng-click="mc.dec('reps')" value="-">
        <h3>{{mc.reps}}</h3>
        <input type="button" class="incButton" ng-click="mc.inc('reps')" value="+">
      </div>


    </form>

    <h1>Total Time:</h1>
    <h2>{{(((mc.intervalLength * mc.reps) + (mc.restLength * mc.reps) - mc.restLength) / 60).toFixed(1)}} Minutes</h2>
  </div>

  <button class="startButton" type="button" name="start" ng-click="mc.sendForm()">Start</button>
</div>
