<div class="exercises" ng-init="mc.retrieveCache()">
  <button type="button" name="back" ng-click="mc.back()">back</button>
  <h1 class="workoutName">{{mc.current.workout.name}}</h1>
  <h3 class="timer">{{mc.current.timer.timeLeft}}</h3>
  <img class="gif" ng-src="{{mc.current.workout.gifUrl}}" alt="{{mc.current.workout.name}}">
  <div class="controls">
    <button class="control" type="button" name="pause" ng-click="mc.togglePlay()">Pause</button>
    <button class="control" type="button" name="Change" ng-click="mc.changeWorkout()">Shuffle</button>
    <button class="control" type="button" name="skip" ng-click="mc.nextWorkout()">Skip</button>
  </div>
  <div class="progressBar">
    <div class="completed">

    </div>
  </div>
</div>
