<div class="exercises" ng-init="mc.retrieveCache()">
  <button type="button" name="back" ng-click="mc.back()">back</button>
  <h1 class="workoutName">{{mc.current.workout.name}}</h1>
  <h3 class="timer">{{mc.current.timer.timeLeft}}</h3>
  <img class="gif" ng-src="{{mc.current.workout.gifUrl}}" alt="{{mc.current.workout.name}}">
  <div class="controls">
    <button class="control" type="button" name="Change" ng-click="mc.changeWorkout()">
      <img src="assets/icons/shuffle.svg" alt="shuffle">
    </button>
    <button class="control" type="button" name="pause" ng-click="mc.togglePlay()">
      <img ng-src="{{mc.playPauseIcon}}" alt="play/pause">
    </button>
    <button class="control" type="button" name="skip" ng-click="mc.nextWorkout()">
      <img src="assets/icons/skip.svg" alt="">
    </button>
  </div>
  <div class="progressBar">
    <div class="completed">

    </div>
  </div>
</div>
